{% comment %}
    Renders the spoties fields for a product

    Accepts:
    - product: {Object} Product Liquid object
    - form_id: {String} Id of the product form
    - section: {Object} 

    Usage:
    {% render 'spoties-fields' product: product, form_id: product_form_id, section: section %}
{% endcomment %}

{{ 'cropper.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'cropper.min.js' | asset_url }}" defer="defer"></script>

{{ 'spoties-fields.css' | asset_url | stylesheet_tag }}
<script src="{{ 'spoties-fields.js' | asset_url }}" defer="defer"></script>

<spoties-fields class="spoties__fields">
    {%- for option in product.metafields.spoties.options.value -%}
        {%- case option.type -%}
        {%- when 'search' -%}
            {% render 'spoties-search-field' product: product, required: option.required %}
        {%- when 'cover-image' -%}
            {% render 'spoties-cover-field' product: product %}
        {%- when 'record-name' -%}
            <spoties-record-name-field>
                <div class="spoties__option">
                    <label for="spoties-record">Låtnamn</label>
                    <input
                        type="text"
                        id="spoties-record"
                        name="properties[Record name]"
                        form="{{ form_id }}"
                        {% if option.minlength %}
                            minlength="{{ option.minlength }}"
                        {% endif %}
                        {% if option.maxlength %}
                            maxlength="{{ option.maxlength }}"
                        {% endif %}
                        {% if option.pattern %}
                            pattern="{{ option.pattern }}"
                        {% endif %}
                        {% if option.patternTitle %}
                            title="{{ option.patternTitle }}"
                        {% endif %}
                        {% if option.required %}
                            required
                        {% endif %}
                    >
                    <spoties-option-errors></spoties-option-errors>
                </div>
            </spoties-record-name-field>
        {%- when 'artist-name' -%}
            <spoties-artist-field
                {% if option.minlength %}
                    minlength="{{ option.minlength }}"
                {% endif %}
                {% if option.maxlength %}
                    maxlength="{{ option.maxlength }}"
                {% endif %}
                {% if option.minlength %}
                    minlength="{{ option.minlength }}"
                {% endif %}
                {% if option.maxlength %}
                    maxlength="{{ option.maxlength }}"
                {% endif %}
                {% if option.pattern %}
                    pattern="{{ option.pattern }}"
                {% endif %}
                {% if option.patternTitle %}
                    title="{{ option.patternTitle }}"
                {% endif %}
                {% if option.required %}
                    required
                {% endif %}
            >
                <div class="spoties__option">
                    <label for="spoties-artist">Artistnamn</label>
                    <input
                        type="text"
                        id="spoties-artist"
                        name="properties[Artist name]"
                        form="{{ form_id }}"
                    >
                    <spoties-option-errors></spoties-option-errors>
                </div>
            </spoties-artist-field>
        {%- when 'text' -%}
            <spoties-text-field>
                <div class="spoties__option">
                    <label for="spoties-{{ option.id }}">{{ option.label }}</label>
                    <input
                        type="text"
                        id="spoties-{{ option.id }}"
                        name="properties[{{ option.name }}]"
                        form="{{ form_id }}"
                        {% if option.minlength %}
                            minlength="{{ option.minlength }}"
                        {% endif %}
                        {% if option.maxlength %}
                            maxlength="{{ option.maxlength }}"
                        {% endif %}
                        {% if option.pattern %}
                            pattern="{{ option.pattern }}"
                        {% endif %}
                        {% if option.patternTitle %}
                            title="{{ option.patternTitle }}"
                        {% endif %}
                        {% if option.required %}
                            required
                        {% endif %}
                    >
                    <spoties-option-errors></spoties-option-errors>
                </div>
            </spoties-text-field>
        {%- when 'option' -%}
            <spoties-option-field>
                <fieldset class="js product-form__input">
                    <label class="spoties__label">{{ option.label }}</label>
                    {%- for value in option.values -%}
                        <input type="radio" id="{{ section.id }}-spoties-option-{{ forloop.index0 }}"
                            name="properties[{{ option.name }}]"
                            value="{{ value | escape }}"
                            form="{{ form_id }}"
                            {% if option.selected_value == value %}checked{% endif %}
                        >
                        <label for="{{ section.id }}-spoties-option-{{ forloop.index0 }}">
                            {{ value }}
                        </label>
                    {%- endfor -%}
                </fieldset>
            </spoties-option-field>
        {%- endcase -%}
    {%- endfor -%}
</spoties-fields>